.about {
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    background-color: #756AB6;
    background-image: url('../../assets/images/about.svg');
    background-size: 128px 128px;
    background-position: 95% 95%;
    background-repeat: no-repeat;
    &__description {
        font-size: 16px;
        text-align: left;
    }
}