.billboard {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background-color: #756AB6;
    &__wrapper {
        padding: 20px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__date {
        font-family: 'IncVerse';
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}