.intro {
    position: relative;
    background-color: #756AB6;
    &__image {
        width: 100%;
        height: auto;
    }
    &__title {
        font-family: "IncVerse";
        text-align: left;
        color: white;
    }
    &__content {
        position: absolute;
        left: 30px;
        bottom: 30px;
    }
}
